.header-image {
    background-image: url("https://nationalpostcom.files.wordpress.com/2017/12/brunchcm.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
.class {
	color: black;
}
