<!DOCTYPE html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "../static/bulma-0.7.1/css/bulma.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/homepage.css">
    </head>
    <body>
      <section class="hero is-primary is-fullheight header-image">
        <div class="hero-head">
          <header class="navbar is-light">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  <img src="
                  http://res.freestockphotos.biz/pictures/11/11438-illustration-of-a-fried-egg-sunny-side-up-pv.png" alt="Logo">
                </a>
                <span class="navbar-burger burger has-text-black" data-target="navbarMenuHeroC">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item is-dark">
                    home
                  </a>
                  <a class="navbar-item">
                    recipes
                  </a>
                  <a class="navbar-item">
                    gallery
                  </a>
                </a>
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-black">Eggs coming soon...</h1>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="has-text-white has-text-weight-bold"><a href="/">Legal</a></li>
            <li class="has-text-white has-text-weight-bold"><a href="/">Contact Us</a></li>
            <li class="has-text-white has-text-weight-bold"><a href="/">Careers</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</body>
</html>
